{% extends 'base.html.twig' %}

{% block title %}
{% if tag is empty %}
    {{- 'title.default'|trans -}}
{% else %}
    {{- 'title.default'|trans }} - {{ ('tag.' ~ tag ~ '.title')|trans -}}
{% endif %}
{% endblock %}
{% block description %}
    {% if tag is empty %}
        {{- 'description.default'|trans -}}
    {% else %}
        {{- 'description.tag'|trans({'%tag-title%': ('tag.' ~ tag ~ '.title')|trans})|text2html -}}
    {% endif %}
{% endblock %}

{% block body %}
<div id="particles-js" class="particles"></div>
<div class="columns">
    {# Particles #}
    <header class="column is-half is-disabled">
        <div class="header hero is-fullheight has-text-centered">
            <div class="hero-body">

                <div class="container">

                    {# Photo #}
                    <p>
                        <img class="selfie" alt="Julien Vallini photo" src="{{ asset('img/selfie.jpg') }}"/>
                    </p>

                    {# Julien Vallini #}
                    {% if tag is empty %}
                        <h1 class="title">Julien Vallini</h1>
                    {% else %}
                        <p class="title">
                            <a
                                href="{{ path('home_' ~ app.request.getLocale()) }}"
                                class="is-enabled"
                            >
                                Julien Vallini
                            </a>
                        </p>
                    {% endif %}


                    {# Tag title #}
                    {% if tag is empty %}
                        <p class="subtitle">{{ 'home.title'|trans }}</p>
                    {% else %}
                        <h1 class="subtitle">{{ ('tag.' ~ tag ~ '.title')|trans }}</h1>
                    {% endif %}

                </div>
            </div>
            <div class="hero-foot">
                <a href="#homepage" class="is-enabled">
                    <svg class="icon dark icon-chevron-down"><use xlink:href="#icon-chevron-down"></use></svg>
                </a>
            </div>
        </div>
    </header>
    <section class="column homepage" id="homepage">
        <div class="hero is-fullheight tag-panel">
            <div class="hero-body">
                <div class="container paper">
                    {# Tag description #}
                    <div class="content is-small">
                        {{ 'home.subtitle'|trans|text2html }}
                        {% if tag is empty %}
                            {{ 'home.description'|trans|text2html }}
                        {% else %}
                            {{ ('tag.'~ tag ~'.description')|trans|text2html }}
                        {% endif %}

                        {# Tag list #}
                        <ul class="tags">
                            {% for item in tags.list %}
                                <li>
                                    {% if item == tag %}
                                        <span class="button is-active is-primary">
                                            {{ ('tag.' ~ tag ~ '.name')|trans }}
                                        </span>
                                    {% else %}
                                        <a class="button is-primary is-outlined" href="{{ path('tag_' ~ item ~ '_' ~ app.request.locale) }}">
                                            {{ ('tag.' ~ item ~ '.name')|trans }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        {# Contact me #}
                        <div class="has-text-centered">
                            <a class="button is-primary is-medium" href="{{ path('contact_' ~ app.request.getLocale()) }}">
                                {{ 'home.contact_me'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    <section class="hero is-secondary about-me foreground">
        <div class="hero-body">
            <div class="container">
                <div class="content logo-container">
                    <a href="{{ social.twitter }}">
                        <div class="logo">
                            <svg class="icon icon-twitter">
                                <use xlink:href="#icon-twitter"></use>
                            </svg>
                        </div>
                        <div class="subtitle">
                            Twitter
                        </div>
                    </a>
                    <a href="{{ social.github }}">
                        <div class="logo">
                            <svg class="icon icon-github">
                                <use xlink:href="#icon-github"></use>
                            </svg>
                        </div>
                        <div class="subtitle">
                            Github
                        </div>
                    </a>
                    <a href="{{ social.linkedin }}">
                        <div class="logo">
                            <svg class="icon icon-linkedin2">
                                <use xlink:href="#icon-linkedin2"></use>
                            </svg>
                        </div>
                        <div class="subtitle">
                            LinkedIn
                        </div>
                    </a>
                    <a href="{{ social.stackoverflow }}">
                        <div class="logo">
                            <svg class="icon icon-stackoverflow"><use
                                        xlink:href="#icon-stackoverflow"></use></svg>
                        </div>
                        <div class="subtitle">
                            Stack Overflow
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

